<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >เพิ่มรายชื่อ</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <!--
          >>> Username <<<
        -->
        <b-form-group label="Username">
          <b-form-input v-model="form.username" required></b-form-input>
        </b-form-group>
        <!--
          >>> Password <<<
        -->
        <b-form-group label="Password">
          <b-form-input
            v-model="form.password"
            type="password"
            required
          ></b-form-input>
        </b-form-group>
        <!--
          >>> Name <<<
        -->
        <b-form-group label="ชื่อ-นามสกุล">
          <b-form-input v-model="form.name" required></b-form-input>
        </b-form-group>
        <!--
          >>> Gender <<<
        -->
        <b-form-group label="เพศ">
          <b-form-select
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>
        <!--
          >>> Role <<<
        -->
        <b-form-group label="ตำแหน่ง">
          <b-form-select
            v-model="form.role"
            :options="roleOptions"
            required
          ></b-form-select>
        </b-form-group>
        <!--
          >>> Salary <<<
        -->
        <b-form-group label="เงินเดือน">
          <b-form-input
            v-model="form.salary"
            type="number"
            required
          ></b-form-input>
        </b-form-group>
        <!--
          >>> Number <<<
        -->
        <b-form-group label="เบอร์โทรศัพท์">
          <b-form-input
            v-model="form.number"
            type="number"
            required
          ></b-form-input>
        </b-form-group>
        <!--
          >>> Email <<<
        -->
        <b-form-group label=" อีเมล">
          <b-form-input
            v-model="form.email"
            type="email"
            required
          ></b-form-input>
        </b-form-group>
        <!--
          >>> Address <<<
        -->
        <b-form-group label=" ที่อยู่">
          <b-form-textarea
            v-model="form.address"
            rows="3"
            max-rows="6"
            required
          ></b-form-textarea>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">แก้ไข</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">ลบ</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้',
      form: {
        id: -1,
        username: '',
        password: '',
        name: '',
        gender: null,
        role: null,
        salary: 0,
        number: '',
        email: '',
        address: ''
      },
      genderOptions: [{ text: 'โปรดเลือก', value: null }, 'ชาย', 'หญิง'],
      roleOptions: [
        { text: 'โปรดเลือก', value: null },
        'ผู้จัดการ',
        'แพทย์ประจำ',
        'พยาบาล',
        'พนักงานบริการ',
        'พนักงานจ่ายยา',
        'พนักงานตอนรับ',
        'พนักงานคอลเซนเตอร์',
        'พนักงานทำความสะอาด'
      ],
      userList: [
        {
          id: 1,
          username: 'chattrawut',
          password: '0988888888',
          name: 'ฉัตรตราวุธ ภูละคร',
          gender: 'ชาย',
          role: 'แพทย์ประจำ',
          salary: 78000,
          number: '0988888888',
          email: 'chattrawutbuu@clinic.co.th',
          address: 'Thailand,chonburi bangsean 144/7 10543'
        },
        {
          id: 2,
          username: 'chattrawut',
          password: '0988888888',
          name: 'โมโนเซคคราลาย เอซ',
          gender: 'หญิง',
          role: 'พนักงานบริการ',
          salary: 35000,
          number: '0888888888',
          email: 'mobosec@clinic.co.th',
          address: 'Thailand,chonburi bangsean 122/7 10543'
        }
      ],
      lastId: 3,
      fields: [
        { key: 'id', label: 'ไอดี', sortable: true },
        { key: 'name', label: 'ชื่อ', sortable: true },
        { key: 'gender', label: 'เพศ', sortable: true },
        { key: 'role', label: 'ตำแหน่ง', sortable: true },
        { key: 'operation', label: 'จัดการ' }
      ]
    }
  },
  methods: {
    addNewUser () {
      this.$bvModal.show('modal-form-user')
    },
    editUser (data) {
      console.log('Edit ')
      console.log(data)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...data }
      this.$bvModal.show('modal-form-user')
    },
    delUser (data) {
      console.log('Del ')
      console.log(data)
      this.$bvModal
        .msgBoxConfirm('คุณต้องการลบ ' + data.name + ' หรือไม่?', {
          title: 'โปรดยืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteUser(data)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        username: '',
        password: '',
        name: '',
        gender: null,
        role: null,
        salary: 0,
        number: '',
        email: '',
        address: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // เช็ค validate
      // ทำอะไรต่อเมื่อ validate ผ่าน
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }

      // ซ่อน modal
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (data) {
      data.id = this.lastId++
      this.userList.push(data)
    },
    updateUser (data) {
      const index = this.userList.findIndex(item => item.id === data.id)
      this.userList.splice(index, 1, data)
    },
    deleteUser (data) {
      const index = this.userList.findIndex(item => item.id === data.id)
      this.userList.splice(index, 1)
    }
  }
}
</script>
